<form
  class="flex flex-column align-items-center justify-content-center gap-4"
  [formGroup]="signinForm"
  (ngSubmit)="signin()">
  <h3>Connexion</h3>
  <input
    id="email1"
    type="email"
    placeholder="Email address"
    pInputText
    class="w-full md:w-30rem mb-5"
    style="padding: 1rem"
    required
    formControlName="email" />

  <p-password
    id="password1"
    formControlName="password"
    placeholder="Password"
    [toggleMask]="true"
    [feedback]="false"
    styleClass="mb-5"
    required
    inputStyleClass="w-full p-3 md:w-30rem">
  </p-password>

  <button
    pButton
    pRipple
    label="Se connecter"
    class="w-full p-3 text-xl"
    type="submit"
    [disabled]="signinForm.invalid"></button>

  <a
    routerLink="/auth/signup"
    class="font-medium no-underline"
    style="color: var(--primary-color)"
    >Pas de compte ?</a
  >
</form>
<p-toast></p-toast>
