<div class="pb-4">
  <div class="flex flex-column align-items-center p-2">
    <span *ngIf="chatName" class="text-3xl">{{chatName}} </span>
    <a
      *ngIf="debugOn && chatName"
      target="_blank"
      href="http://localhost:4201/sessions"
      >Traces <i class="pi pi-external-link" style="font-size: 0.75rem"></i
    ></a>
    <span class="mr-2"></span>
    <span *ngIf="projectName && chatName" class="text-1xl font-italic"
      >[{{projectName}}]</span
    >
    <span *ngIf="projectName && !chatName" class="text-3xl"
      >{{projectName}}</span
    >
  </div>
  <div
    class="flex justify-content-center align-items-center gap-2"
    *ngIf="chatName">
    <p-tag [value]="type"></p-tag>
    <p-tag [value]="language"></p-tag>
    <p-tag [value]="model"></p-tag>
  </div>
</div>
