<p-toolbar>
  <div class="p-toolbar-group-start">
    <p>DOC GPT</p>
  </div>
  <div class="p-toolbar-group-center">
    <h2>
      <span *ngIf="projectName !== undefined">{{projectName}}</span
      ><span *ngIf="chatName !== undefined"> | {{chatName}}</span>
    </h2>
  </div>
  <div class="p-toolbar-group-end">
    <p-button
      [icon]="actualIcon"
      (click)="toggleTheme()"
      class="mr-4"
      styleClass="p-button-rounded p-button-info p-button-outlined"></p-button>
    <p-menu #menu [model]="items" [popup]="true"></p-menu>
    <p-button
      icon="pi pi-user"
      styleClass="p-button-rounded p-button-info"
      (click)="menu.toggle($event)"></p-button>
  </div>
</p-toolbar>
