<div class="docgpt-wrapper" #wrapper>
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>

  <p-splitter [panelSizes]="[20, 80]" styleClass="mb-5 h-full">
    <ng-template pTemplate>
      <div class="col flex flex-column align-items-center gap-2">
        <app-projec-manager class="w-full"></app-projec-manager>
        <p-divider class="w-full"></p-divider>
        <app-document-manager class="w-full"></app-document-manager>
      </div>
    </ng-template>
    <ng-template pTemplate>
      <div
        class="relative flex h-full max-w-full flex-1 flex-column items-stretch">
        <app-chat-info class="w-full"></app-chat-info>

        <app-chat-panel
          class="h-full w-full transition-width flex flex-col overflow-auto"></app-chat-panel>
        <app-query-manager
          class="absolute z-5 bottom-0 left-0 w-full pt-2"></app-query-manager>
      </div>
    </ng-template>
  </p-splitter>
</div>
