<div #target *ngIf="currentChat; else noChat">
  <div
    [ngClass]="mess.origin==='llm' ? 'message message-llm w-full flex flex-column align-items-center' : 'message message-user w-full flex flex-column align-items-center'"
    *ngFor="let mess of currentChat.messages">
    <div>
      <div *ngIf="mess.origin==='user'" class="flex gap-4">
        <span class="pi pi-user" style="font-size: 1.5rem"></span>
        <span>{{mess.content}}</span>
      </div>
      <div *ngIf="mess.origin==='llm'" class="flex gap-4">
        <img src="assets/openai-white.svg" />
        <span>{{mess.content}}</span>
      </div>
    </div>
  </div>

  <div *ngIf="queryProcessing !== undefined">
    <div class="flex gap-4">
      <span class="pi pi-user" style="font-size: 1.5rem"></span>
      <span>{{queryProcessing}}</span>
    </div>
  </div>
  <div *ngIf="queryProcessing !== undefined">
    <div class="flex gap-4">
      <img src="assets/open-ai.svg" />
      <span>...</span>
    </div>
  </div>
</div>

<ng-template #noChat>
  <div class="h-full w-full flex align-items-center justify-content-center">
    <h2 class="text-center">Ouvrez une nouvelle discussion !</h2>
  </div>
</ng-template>
