<form
  class="flex flex-column align-items-center justify-content-center gap-4"
  [formGroup]="signupForm">
  <h3>Création de compte</h3>
  <input
    id="email1"
    type="text"
    placeholder="Email address"
    pInputText
    class="w-full md:w-30rem mb-5"
    style="padding: 1rem"
    formControlName="email" />

  <p-password
    id="password1"
    formControlName="password"
    placeholder="Password"
    [toggleMask]="true"
    styleClass="mb-5"
    inputStyleClass="w-full p-3 md:w-30rem"></p-password>

  <button
    pButton
    pRipple
    label="S'enregistrer"
    class="w-full p-3 text-xl"
    (click)="signup()"></button>
  <a
    routerLink="/auth/signin"
    class="font-medium no-underline ml-2 text-right cursor-pointer"
    style="color: var(--primary-color)"
    >Déjà un compte ?</a
  >
</form>
<p-toast></p-toast>
