<div
  *ngIf="currentChat !== undefined
  "
  class="card flex justify-content-center p-inputgroup">
  <textarea
    type="text"
    rows="1"
    pInputTextarea
    [autoResize]="true"
    placeholder="Query ..."
    [(ngModel)]="query"
    class="w-full mb-5"
    (keydown.enter)="askFromKeydown($event)"
    style="padding: 1rem"></textarea>
  <button
    type="button"
    pButton
    icon="pi pi-send"
    class="mb-5"
    style="padding: 1rem; height: 57px"
    styleClass="p-button-warn"
    [loading]="loading"
    [disabled]="query === ''"
    (click)="onAsk()"></button>
</div>
