<p-fieldset [toggleable]="true">
  <ng-template pTemplate="header">
    <div class="flex align-items-center text-primary">
      <span class="pi pi-file mr-2"></span>
      <span class="font-bold text-lg">Documents</span>
    </div>
  </ng-template>

  <div *ngIf="this.currentProject !== undefined; else noProject">
    <a
      *ngIf="debugOn && files.length > 0"
      target="_blank"
      [href]="embeddingsUrl"
      >Embeddings <i class="pi pi-external-link" style="font-size: 0.75rem"></i
    ></a>
    <div class="flex flex-column gap-4">
      <p-tree
        emptyMessage="Aucun fichier"
        selectionMode="single"
        [(selection)]="selectedNode"
        class="w-full"
        [value]="files"
        [contextMenu]="cm"></p-tree>
      <app-document-uploader
        (onDrop)="uploadDiagVisible = true"
        (droppedFiles)="onDroppedFiles($event)"></app-document-uploader>
    </div>
    <p-contextMenu #cm [model]="items"></p-contextMenu>
  </div>

  <ng-template #noProject>
    Chargez un projet existant ou créer un nouveau projet
  </ng-template>
</p-fieldset>

<app-upload-diag
  [(visible)]="uploadDiagVisible"
  [projectId]="currentProject || ''"
  [projectName]="currentProjectName"
  [uploadedFiles]="uploadedFiles"></app-upload-diag>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<p-toast></p-toast>
