<p-fieldset legend="Documents" [toggleable]="true">
  <div *ngIf="this.currentProject !== undefined; else noProject">
    <div #tree class="flex flex-column gap-2">
      <p-tree
        emptyMessage="Aucun fichier"
        selectionMode="multiple"
        class="w-full md:w-30rem"
        [value]="files"></p-tree>
      <p-card
        class="md:w-30rem"
        class="dropzone"
        appDndUpload
        (fileDropped)="onFileDropped($event)">
        <p class="text-center text-lg">
          <span class="pi pi-upload"></span> Dépôt de fichiers
        </p>
        <input
          type="file"
          #fileDropRef
          id="fileDrop"
          multiple
          (change)="fileBrowseHandler($event)" />
      </p-card>
    </div>
    <p-contextMenu [target]="tree" [model]="items"></p-contextMenu>
  </div>

  <ng-template #noProject>
    Chargez un projet existant ou créer un nouveau projet
  </ng-template>
</p-fieldset>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<p-toast></p-toast>
