<p-fieldset [toggleable]="true">
  <ng-template pTemplate="header">
    <div class="flex align-items-center text-primary">
      <span class="pi pi-file mr-2"></span>
      <span class="font-bold text-lg">Documents</span>
    </div>
  </ng-template>

  <div *ngIf="this.currentProject !== undefined; else noProject">
    <div class="flex flex-column gap-4">
      <p-tree
        emptyMessage="Aucun fichier"
        selectionMode="single"
        [(selection)]="selectedNode"
        class="w-full"
        [value]="files"
        [contextMenu]="cm"></p-tree>
      <div
        class="border-1 border-round surface-border pt-4"
        appDndUpload
        (fileDropped)="onFileDropped($event)">
        <div class="text-center text-lg">
          <span class="pi pi-upload"></span> Dépôt de fichier
        </div>
        <input
          type="file"
          class="max-w-0"
          #fileDropRef
          id="fileDrop"
          multiple
          (change)="fileBrowseHandler($event)" />
      </div>
    </div>
    <p-contextMenu #cm [model]="items"></p-contextMenu>
  </div>

  <ng-template #noProject>
    Chargez un projet existant ou créer un nouveau projet
  </ng-template>
</p-fieldset>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<p-toast></p-toast>

<p-dialog
  header="Ajout de document au projet"
  [(visible)]="uploadDiagVisible"
  [closable]="false"
  [closeOnEscape]="false"
  [modal]="true"
  [style]="{width: '50vw'}">
  <p>
    Les documents suivants vont être uploadés et ajoutés au contexte du projet
    <span class="font-bold"> {{currentProjectName}}</span>
  </p>
  <p-progressBar
    [showValue]="false"
    *ngIf="onProgress || progress ==100"
    [value]="progress"></p-progressBar>
  <ul class="list-disc">
    <li class="ml-8 p-2" *ngFor="let f of uploadedFiles">
      {{f.name}}
      <i *ngIf="f.done" class="pi pi-check-cirle" style="color: green"></i>
    </li>
  </ul>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-close"
      *ngIf="!onProgress && progress !=100"
      (click)="closeUploadDiag()"
      label="Annuler"
      styleClass="p-button-text"></p-button>
    <p-button
      icon="pi pi-check"
      *ngIf="!onProgress && progress !=100"
      (click)="onUploadConfirm()"
      label="Confirmer"
      styleClass="p-button-text"></p-button>
    <p-button
      icon="pi pi-check"
      *ngIf="onProgress || progress ==100"
      [loading]="onProgress"
      (click)="closeUploadDiag()"
      label="Fermer"
      styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
