<p-dialog
  header="Nouvelle discussion"
  [(visible)]="visible"
  [modal]="true"
  [style]="{width: '50vw'}">
  <form class="grid" [formGroup]="chatForm">
    <div class="col-12">
      <div class="p-fluid p-formgrid grid">
        <div class="field col-fixed" style="width: 400px">
          <label htmlFor="newChatName">Nom de la discussion</label>
          <input
            class="p-inputtext"
            pInputText
            id="newChatName"
            type="text"
            required
            formControlName="name" />
          <small
            class="p-error block"
            *ngIf="
            chatForm.get('name')?.invalid &&
            chatForm.get('name')?.dirty
      ">
            Nom de la conversation requis</small
          >
        </div>

        <div class="col"></div>
      </div>
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
          <label htmlFor="type">Type</label>
          <p-dropdown
            id="type"
            appendTo="body"
            [options]="types"
            optionLabel="label"
            optionValue="code"
            formControlName="type"></p-dropdown>
        </div>
        <div class="field col-12 md:col-3">
          <label htmlFor="langue">Langue</label>
          <p-dropdown
            id="langue"
            appendTo="body"
            [options]="languages"
            optionLabel="label"
            optionValue="code"
            formControlName="language"></p-dropdown>
        </div>
        <div class="field col-12 md:col-3">
          <label htmlFor="model">Model</label>
          <p-dropdown
            id="model"
            appendTo="body"
            [options]="models"
            optionLabel="label"
            optionValue="code"
            formControlName="model"></p-dropdown>
        </div>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-times"
      (click)="onCancelCreateChat()"
      label="Annuler"
      styleClass="p-button-text"></p-button>
    <p-button
      icon="pi pi-check"
      (click)="onConfirmCreateChat()"
      [disabled]="chatForm.invalid"
      label="Créer"
      styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
