<p-button
  class="w-full"
  icon="pi pi-check"
  (click)="createProjectVisible = true"
  label="Nouveau projet">
</p-button>
<p-tree
  class="md:w-30rem"
  [value]="datas"
  emptyMessage="Aucun projet"
  selectionMode="single"
  [(selection)]="selectedNode"
  [contextMenu]="cm">
</p-tree>

<p-contextMenu #cm [model]="items" (onShow)="onContext()"></p-contextMenu>

<p-dialog
  header="Nouveau projet"
  [(visible)]="createProjectVisible"
  [modal]="true"
  [style]="{width: '50vw'}">
  <input
    id="newProjectName"
    type="text"
    placeholder="Nom du projet"
    pInputText
    class="w-full md:w-30rem mb-5"
    style="padding: 1rem"
    [(ngModel)]="newName" />
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-times"
      (click)="onCancelCreate()"
      label="Annuler"
      styleClass="p-button-text"></p-button>
    <p-button
      icon="pi pi-check"
      (click)="onConfirmCreate()"
      label="Créer"
      styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
<p-dialog
  header="Nouvelle discussion"
  [(visible)]="createChatVisible"
  [modal]="true"
  [style]="{width: '50vw'}">
  <div class="flex flex-column align-items-start gap-3">
    <input
      id="newChatName"
      type="text"
      placeholder="Nom de la discussion"
      pInputText
      class="w-full md:w-30rem mb-5"
      style="padding: 1rem"
      [(ngModel)]="newName" />

    <p-dropdown
      emptyMessage="Langue"
      appendTo="body"
      [options]="languages"
      [(ngModel)]="selectedLanguage"
      optionLabel="name"></p-dropdown>
    <p-dropdown
      emptyMessage="Model"
      appendTo="body"
      [options]="models"
      [(ngModel)]="selectedModel"
      optionLabel="name"></p-dropdown>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-times"
      (click)="onCancelCreateChat()"
      label="Annuler"
      styleClass="p-button-text"></p-button>
    <p-button
      icon="pi pi-check"
      (click)="onConfirmCreateChat()"
      label="Créer"
      styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<p-toast></p-toast>
